<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/home.css" />
    <link rel="stylesheet" href="/resources/css/contacto.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="icon" href="/resources/image/android-chrome-192x192.png" />
    <title>Lina Maria Montaño Ramirez</title>
</head>
<header>
    <nav class="navigation navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="brand" class="img-responsive" alt="Brand"
                        src="/resources/image/android-chrome-192x192.png">
                </a>
            </div>
            <a href="#contacto">
                <p id="menuText" class="navbar-text navbar-right">Contacto</p>
            </a>
            <a href="#proyectos">
                <p id="menuText" class="navbar-text navbar-right">Proyectos</p>
            </a>
            <a href="#podcast">
                <p id="menuText" class="navbar-text navbar-right">Podcast</p>
            </a>
            <a href="#about">
                <p id="menuText" class="navbar-text navbar-right">Sobre mi</p>
            </a>

        </div>
    </nav>
</header>

<body>
    <!-- Header Banner -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated bounceInDown">Lina Maria</h1>
                        <h3>Montaño Ramirez</h3>
                        <h6>Líder de comunidades en NodeJS Colombia, fundadora de Camino Dev y apasionada por los videojuegos.</h6>

                        <ul class="list-inline intro-social-buttons" id="headerButton">
                            <li>
                                <button href="" onclick="location.href='#about'" id="button"
                                    class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">Ver
                                        mas</span></button>
                            </li>

                        </ul>
                        <div id="empty"> </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->


    </div>

    <!-- Page Content -->

    <!-- /.content-section-a -->

    <div class="content-section-a" id="about">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sobre Mi</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Mejor conocida como @calypsobronte en redes sociales.
                        Nacida en la ciudad de la eterna primara Medellín, fundadora de
                        Camino Dev de la mano de mi compañero MiguelAngel, en el cual ambos
                        pertenecemos a la Comunidad de desarrolladores mas grande de NodeJS
                        @node_co como lideres.</p>
                    <p  class="lead">Una apasionada del codigo particularmente por el desarrollo Web a la
                        medida con JavaScript, la enseñanza y los videojuegos.</p>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <!-- /.image credit: simple.com -->

                    <img class=" img-responsive"
                        src="/resources/image/lina-about.jpg"
                        id="responsive" alt="" />
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b" id="proyectos">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">



                    <h2 class="section-heading">Proyectos...</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    <p class="lead">Cuento con más de 1 año y medio de experiencia en el entorno web. Durante este tiempo
                        he desarrollado habilidad para llevar a cabo proyectos completos a través de las diferentes
                        tecnologías y he tenido la oportunidad de participar en proyectos de alto impacto tecnológico.</p>
                    <button href="" onclick="location.href=`https://github.com/calypsobronte?tab=repositories`" id="button"
                    class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">Ver
                        proyectos</span></button>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive"
                        src="https://www.wallpaperuse.com/wallp/83-838193_m.jpg"
                        alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->

    <div class="content-section-c" id="podcast">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h3>Te invito a escuchar</h3>
                    <h2 class="section-heading"> Podcast Camino Dev </h2>

                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Donde invitamos a nomadas digitales para que nos cuentes sus historias de como fue su camino para llegar al mundo tecnologico y crecer en sus carreras profesionales. <br>
                       <br> No te lo pierdas!!</p>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/BelWIG90sfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-e -->

    <div class="content-section-e" id="contacto">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <h2 class="section-heading-white">Contactame!!</h2>

                    <hr class="section-heading-spacer-white">
                    <div class="clearfix"></div>
                    <form action="contacto" method="POST" class="cf">
                        <div class="half left cf">
                            <input type="text" id="input-name" name="name_complete" placeholder="Nombres completos">
                            <input type="email" id="input-email" name="email" placeholder="correo electronico">
                            <input type="text" id="input-subject" name="subject" placeholder="Asunto">
                        </div>
                        <div class="half right cf">
                            <textarea name="message" type="text" id="input-message" placeholder="Mensaje"></textarea>
                        </div>
                        <input type="submit" value="Quiero contactarme" id="input-submit">
                    </form>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive"
                        src="https://static.wixstatic.com/media/7a05c9_e2dbfe3745ff49b998328c91af9427c8~mv2_d_1280_1280_s_2.png/v1/fill/w_600,h_512,al_c,q_85,usm_0.66_1.00_0.01/7a05c9_e2dbfe3745ff49b998328c91af9427c8~mv2_d_1280_1280_s_2.webp"
                        alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="copyright text-muted small">Copyright &copy; Calypso Bronte - 2021 todos los derechos
                        reservados</p>
                    <p class="copyright text-muted small">Creado por <a href="https://www.linkedin.com/in/calypsobronte/" target="_blank" class="">Lina
                            Montaño.</a></p>
                </div>
                <div class="col-sm-4">
                    <p class="copyright text-muted small">
                        Encuentrame en:
                    </p>
                    <div class="d-flex">
                        <a class="me-4" href="https://www.instagram.com/calypsobronte" target="_blank"><img
                                src="/resources/image/instagram-24.png"
                                alt="Logo de instagram"></a>
                    </div>
            </div>

        </div>
    </footer>
</body>
<script src="/resources/js/home.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined") {%>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <%}%>
</html>